dissertation/data/.ipynb_checkpoints/data-job-industry-20221101-checkpoint.json
dissertation/data/.ipynb_checkpoints/Fed-Jobs-checkpoint.ipynb
dissertation/data/.ipynb_checkpoints/Industry-Jobs-checkpoint.ipynb
dissertation/data/.ipynb_checkpoints/keywordgenerator-checkpoint.ipynb
dissertation/data/.ipynb_checkpoints/positionkeywordmapping-checkpoint.ipynb
dissertation/data/.ipynb_checkpoints/rake-nltk-checkpoint.ipynb
dissertation/data/training
dissertation/data/wip
dissertation/data/input
it745
.DS_Store
